Libraries to be ported to Ruby version of Sisimai

- [x] Sisimai.pm
- [x] Sisimai/ARF.pm
- [x] Sisimai/Address.pm
- [x] Sisimai/Data.pm
- [x] Sisimai/Data/JSON.pm
- [x] Sisimai/Data/YAML.pm
- [x] Sisimai/DateTime.pm
- [x] Sisimai/MDA.pm
- [x] Sisimai/MIME.pm
- [x] Sisimai/MSP.pm
- [x] Sisimai/MSP/DE/EinsUndEins.pm
- [x] Sisimai/MSP/DE/GMX.pm
- [x] Sisimai/MSP/JP/Biglobe.pm
- [x] Sisimai/MSP/JP/EZweb.pm
- [x] Sisimai/MSP/JP/KDDI.pm
- [x] Sisimai/MSP/RU/MailRu.pm
- [x] Sisimai/MSP/RU/Yandex.pm
- [x] Sisimai/MSP/UK/MessageLabs.pm
- [x] Sisimai/MSP/US/AmazonSES.pm
- [x] Sisimai/MSP/US/Aol.pm
- [x] Sisimai/MSP/US/Bigfoot.pm
- [x] Sisimai/MSP/US/Facebook.pm
- [x] Sisimai/MSP/US/Google.pm
- [x] Sisimai/MSP/US/Outlook.pm
- [x] Sisimai/MSP/US/ReceivingSES.pm
- [x] Sisimai/MSP/US/SendGrid.pm
- [x] Sisimai/MSP/US/Verizon.pm
- [x] Sisimai/MSP/US/Yahoo.pm
- [x] Sisimai/MSP/US/Zoho.pm
- [x] Sisimai/MTA.pm
- [x] Sisimai/MTA/Activehunter.pm
- [x] Sisimai/MTA/ApacheJames.pm
- [x] Sisimai/MTA/Courier.pm
- [x] Sisimai/MTA/Domino.pm
- [x] Sisimai/MTA/Exchange.pm
- [x] Sisimai/MTA/Exim.pm
- [x] Sisimai/MTA/IMailServer.pm
- [x] Sisimai/MTA/InterScanMSS.pm
- [x] Sisimai/MTA/MXLogic.pm
- [x] Sisimai/MTA/MailFoundry.pm
- [x] Sisimai/MTA/MailMarshalSMTP.pm
- [x] Sisimai/MTA/McAfee.pm
- [x] Sisimai/MTA/MessagingServer.pm
- [x] Sisimai/MTA/Notes.pm
- [x] Sisimai/MTA/OpenSMTPD.pm
- [x] Sisimai/MTA/Postfix.pm
- [x] Sisimai/MTA/Sendmail.pm
- [x] Sisimai/MTA/SurfControl.pm
- [x] Sisimai/MTA/UserDefined.pm
- [x] Sisimai/MTA/V5sendmail.pm
- [x] Sisimai/MTA/X1.pm
- [x] Sisimai/MTA/X2.pm
- [x] Sisimai/MTA/X3.pm
- [x] Sisimai/MTA/X4.pm
- [x] Sisimai/MTA/X5.pm
- [x] Sisimai/MTA/mFILTER.pm
- [x] Sisimai/MTA/qmail.pm
- [x] Sisimai/Mail.pm
- [x] Sisimai/Mail/Maildir.pm
- [x] Sisimai/Mail/Mbox.pm
- [x] Sisimai/Mail/STDIN.pm
- [x] Sisimai/Message.pm
- [x] Sisimai/Order.pm
- [x] Sisimai/RFC2606.pm
- [x] Sisimai/RFC3463.pm
- [x] Sisimai/RFC3464.pm
- [x] Sisimai/RFC3834.pm
- [x] Sisimai/RFC5321.pm
- [x] Sisimai/RFC5322.pm
- [x] Sisimai/Reason.pm
- [x] Sisimai/Reason/Blocked.pm
- [x] Sisimai/Reason/ContentError.pm
- [x] Sisimai/Reason/ExceedLimit.pm
- [x] Sisimai/Reason/Expired.pm
- [x] Sisimai/Reason/Filtered.pm
- [x] Sisimai/Reason/HasMoved.pm
- [x] Sisimai/Reason/HostUnknown.pm
- [x] Sisimai/Reason/MailboxFull.pm
- [x] Sisimai/Reason/MailerError.pm
- [x] Sisimai/Reason/MesgTooBig.pm
- [x] Sisimai/Reason/NetworkError.pm
- [x] Sisimai/Reason/NoRelaying.pm
- [x] Sisimai/Reason/NotAccept.pm
- [x] Sisimai/Reason/OnHold.pm
- [x] Sisimai/Reason/Rejected.pm
- [x] Sisimai/Reason/SecurityError.pm
- [x] Sisimai/Reason/SpamDetected.pm
- [x] Sisimai/Reason/Suspend.pm
- [x] Sisimai/Reason/SystemError.pm
- [x] Sisimai/Reason/SystemFull.pm
- [x] Sisimai/Reason/TooManyConn.pm
- [x] Sisimai/Reason/UserUnknown.pm
- [x] Sisimai/Rhost.pm
- [x] Sisimai/Rhost/GoogleApps.pm
- [x] Sisimai/String.pm
- [x] Sisimai/Time.pm

All the modules have been ported from Perl version of Sisimai