Reduce regular expressions (7e6c)

- Implement `Sisimai::RFC5322.FIELDINDEX`
- Implement `Sisimai::RFC5965.FIELDINDEX`
- Implement `Sisimai::Message.tidy`
- Reduce many regular expressions in the following modules:
  - `Sisimai::RFC3464`
  - `Sisimai::Reason::*`
- See sisimai/p5-sisimai#488